.guides-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  background: #2f3657;
  color: white;
  font-size: 8px;
  line-height: 50px;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .guides-nav {
    display: none;
  }
}
.guides-nav h1 {
  margin: auto 0 auto 30px;
  height: 25px;
  line-height: 25px;
}
#plus-icon {
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}
#minus-icon {
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  display: none;
}
#guides-nav-box {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  display: none;
}
#guides-nav-box.open {
  display: block;
}

.guide-link-box {
  display: flex;
 height: 50px;
  border: 1px solid rgb(200, 200, 200);
  border-top: none;
  font-size: 8px;
  cursor: pointer;
  color: rgb(49, 49, 49);
}
.active {
  background-color: rgb(219, 217, 236);
}
.guide-link-box h1 {
  margin: auto 0 auto 30px;
}
@media (min-width: 1000px) {
  #guides-nav-box {
    display: flex;
    margin-top: -28px;
    background-color: inherit;
  }
  .guide-link-box {
    display: inline-block;
    width: 160px;
    margin: 0 auto;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(240, 240, 240, 0.5);
  }
  .guide-link-box.active {
    border-bottom: none;
    background-color: white;
  }
  .search-box {
    padding: 100px;
  }
  .guide-link-box h1 {
    margin: 4px 0;
    text-align: center;
    font-size: 18px;
  }
  .guide-link-box:hover {
    color: rgb(153, 204, 0);
    background-color: rgb(240, 240, 240, 0.9);
  }
}

.product-overview,
.content-section-1 {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
.product-overview h2,
.content-section-1 h2 {
  padding: 20px 0 15px 30px;
  font-size: 30px;
}
.product-overview p,
.content-section-1 p {
  padding: 10px 30px;
  font-size: 15px;
}
.product-overview a,
.content-section-1 a {
  padding: 10px 30px;
  font-size: 17px;
  color: rgb(153, 204, 0);
  display: block;
  cursor: pointer;
}
