body::-webkit-scrollbar {
  display: none;
}
.search-box {
  max-width: 1200px;
  margin: 55px auto;
  padding: 10px 30px;
  background-color: #2f3657;
  background-image: none;
}
.search-box a {
  margin: auto 0 auto 30px;
  color: white;
}
.search-bar {
  display: block;
  max-width: 800px;
  margin: 20px auto;
}
#article-page-1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
#side-nav-button {
  position: fixed;
  z-index: 10;
  top: 40vh;
  left: 0;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: 500;
  color: rgb(153, 204, 0);
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  display: none;
}
#side-nav-container {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  min-width: 230px;
  height: fit-content;
  padding: 10px 20px;
  background-color: white;
  border-right: 1px solid rgb(230, 230, 230);
}
#side-nav-box {
  background-color: #f5f5f5;
  margin: 2px;
  padding: 10px;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
}
#guide-1-arrow,
#guide-2-arrow,
#guide-3-arrow,
#guide-4-arrow,
#guide-5-arrow,
#guide-6-arrow {
  float: right;
}
#guide-1-pages,
#guide-2-pages,
#guide-3-pages,
#guide-4-pages,
#guide-5-pages,
#guide-6-pages {
  display: none;
    cursor: pointer;
}
#side-nav-box-pages {
  margin: 2px 10px;
  padding: 10px;
  font-size: 16px;
  color: #000000;
}
#article-pages-box {
  display: none;
}
#article-page {
  padding: 5px 30px;
}
#article-page i,
#article-page.active i {
  margin: auto 10px auto 0;
  color: cornflowerblue;
}
#article-page.active {
  margin: auto 10px auto 0;
  color: cornflowerblue;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}
#article-section {
  max-width: 900px;
  padding: 50px;
}
@media (max-width: 900px) {
  #side-nav-container {
    position: fixed;
    z-index: 9;
    left: -1111px;
  }
  #side-nav-button {
    display: block;
  }
}
