body::-webkit-scrollbar {
  display: none;
}
.search-box {
  max-width: 1200px;

  margin: 55px auto;

  padding: 10px 30px;
  background-color: #2f3657;
  background-image: none;
}
.search-box a {
  margin: auto 0 auto 30px;
  color: white;
}
.search-bar {
  border: 1px solid rgb(255, 136, 136);
  display: block;
  max-width: 800px;
  margin: 20px auto;
}
#article-page-1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
#side-nav-container {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  height: fit-content;
  padding: 0 20px;
  border-right: 1px solid rgb(230, 230, 230);
}
@media (max-width: 900px) {
  #side-nav-container {
    display: none;
  }
}
#side-nav-box {
  background-color: #e2e2e2;
  margin: 2px;
  padding: 10px;
  font-size: 17px;
  font-weight: bolder;
}
.arrow-right {
  float: right;
}
#guide-1-pages,
#guide-2-pages,
#guide-3-pages,
#guide-4-pages,
#guide-5-pages,
#guide-6-pages {
  display: none;
}
#side-nav-box-pages {
  margin: 2px 10px;
  padding: 10px;
  font-size: 16px;
  color: #000000;
}
#article-pages-box {
  display: none;
}
#article-page {
  padding: 5px 30px;
  
}
#article-page i,#article-page.active i {
  margin: auto 10px auto 0;
  color: cornflowerblue;
}
#article-page.active {
  margin: auto 10px auto 0;
  color: cornflowerblue;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}
#article-section {
  max-width: 900px;
  padding: 50px;
}
