@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;         /*<<<<<REALLY COOL*/
}
body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
}
*::-webkit-scrollbar {
  display: none;
}
nav {
  max-width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: rgb(0, 0, 51);
  z-index: 10;
}
.nav-box {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 11;
}
nav img {
  height: 20px;
  margin: 15px 0;
}
nav h1 {
  width: fit-content;
  line-height: 55px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 30px;
}
#menu-button {
  font-size: 25px;
  color: white;
  padding: 0 15px;
  cursor: pointer;
  line-height: 55px;
  -webkit-tap-highlight-color: rgb(0, 0, 116);  
}
#menu-box {
  height: calc(100vh - 50px);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 auto;
  background: black;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: -555%;
  transition: 0.5s;
  overflow-y: scroll;
}
#menu-box.open {
  transition: 0.5s;
  right: 0;
}
#menu-box a {
  margin: 20px auto;
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
}
#menu-box a:hover {
  background: rgb(121, 121, 121);
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(170, 170, 170);
}
#to-top-button {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  border: 2px solid rgb(153, 204, 0);
  border-radius: 5px;
  height: 50px;
  width: 50px;
  padding: auto;
  font-size: 40px;
  font-weight: 500;
  color: rgb(153, 204, 0);
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.search-box {
  background-image: url(/images/pexels-laura-tancredi-1280.jpg);
  background-size: cover;
  background-color: black;
  margin-top: 55px;
  padding: 50px;
}
.search-bar {
  max-width: 800px;
  background-color: white;
  line-height: 50px;
  cursor: pointer;
  padding: 0 20px;
  margin: 0 auto;
  border-radius: 10px;
}
.color-box {
  display: block;
  background-color: #2f3657;
  height: 50px;
}
.flex-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}
.flex-box {
  flex: 100%;
  border: 1px solid rgb(163, 163, 163);
  margin: 10px;
  cursor: pointer;
  color: black;
}
.flex-box:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 15px rgb(170, 170, 170);
}
@media (min-width: 768px) {
  .flex-box {
    flex: 40%;
  }
}
@media (min-width: 900px) {
  .flex-box {
    flex: 30%;
  }
}

.guide-1-icon {
  display: block;
  color: rgb(153, 204, 0);
  font-size: 70px;
  line-height: 110px;
  text-align: center;
}

.flex-box h2 {
  padding: 10px;
  color: rgb(51, 51, 51);
  text-align: center;
}
.flex-box p {
  text-align: center;
  padding: 10px 30px;
}
.featured-articles {
  text-align: center;
  background-color: rgb(228, 228, 225);
  padding: 20px;
}
.featured-articles h2 {
  padding: 10px;
}
.featured-articles li {
  padding: 2px;
}
.featured-articles li:hover {
  color: rgb(153, 204, 0);
}
.featured-articles a {
  cursor: pointer;
}
.help-bar {
  text-align: center;
  padding: 20px;
  background-color: #2f3657;
  color: white;
}
.help-bar h2 {
  margin: 5px;
}
.contact-button {
  display: block;
  width: fit-content;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 12px;
  background-color: rgb(153, 204, 0);
  font-weight: bolder;
  cursor: pointer;
}
footer {
  background: rgb(0, 0, 51);
}
footer img {
  width: 100%;
}
.footer-box {
  color: white;
  text-align: center;
  padding: 40px;
}
